.ml-banner {
  height: 130px;
  background-color: $colour-three;
  color: white;
}

.ml-banner__content {
  @include outer-container;
  width: 80%;
}

.ml-banner__strikethrough {
  margin-top: 64px;
  z-index: 0;
}
