.category-tag {
  width: 95px;
  height: 95px;
  border-radius: 50%;
  background-color: $black;
  text-align: center;
}

.category-tag--mind {
  background-color: $colour-one;
}

.category-tag--body {
  background-color: $colour-three;
}

.category-tag--purpose {
  background-color: $colour-two;
}

.category__img {
  height: 35px;
  margin: 20px auto 5px;
}

.category__text {
  margin: 0 auto;
  font-family: $header-font;
  font-weight: 700;
  font-style: italic;
  font-size: 12px;
  text-transform: uppercase;
  display: block;
  color: white;
}

.post__aside .category-tag {
  margin: 1em auto 3em;
}
