.featured-blog-post {
	margin: 0 0 3em;
}

.fbp__body {
	margin-left: 2em;
}

.fbp__header {
	margin: 0;
	a {
		color: $black;
	}
	a:hover {
		text-decoration: none;
		color: $colour-three;
	}
}

.fbp__date {
	@include font-size(14px, 2.5)
	font-style: italic;
	color: $colour-five;
}

.fbp__hr {
	border: 0; 
	height: 0; 
	border-top: 1px solid rgba(0, 0, 0, 0.1); 
	border-bottom: 1px solid rgba(255, 255, 255, 0.3);
	margin: 0;
}

.fbp__para p {
	@include font-size(14px, 1.4)
	color: $black;
	margin: 1em 0;
}
.fbp__more {
	@include font-size(14px, 2)
	font-weight: 700;
	font-style: italic;
	color: $black
}