/////////////
// COLOURS //
/////////////

$colour-one: #56C3E8; 	/*Light Blue*/
$colour-two: #1E2B50; 	/*Dark Blue*/
$colour-three: #721B46; /*Burgundy*/
$colour-four: #FEE1B6; 	/*Cream*/
$colour-five: #F085A1; 	/*Pink*/

$black: #333;
$light-grey: #DCDCDC;

$facebook-blue: #3b5998;
$google-red: #D73D32;
$pale-border-color: #e8e8e8;
