.main {
	@include outer-container;
	width: 90%;

	@include media-query(med) {
		width: 80%;
		margin: 10em auto;
	}
}

.post {
margin-top: 15em;
margin-bottom: 3em;
}

.post__aside {
	text-align: center;
	@include media-query(med) {
			@include span-columns(2);
			@include shift (-6);
	}
}

.post__article {
	@include media-query(med) {
			@include span-columns(4);
			@include shift(2);
	}
}

.post__header {
	margin-bottom: 4em;
}
